body, html {
height: 100%;
width: 100%;
}

.bgi {
    height: 100%;
    width: 100%;
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
}

.gamecontainer {
    margin: 18% 10% 0% 10%;
    height: 61%;
    width: 85%;
}

#gamecard {
    position: inherit;
    margin: 20% 25% 0% 23%;
    height: 60%;
    width: 50%;
    font-weight: bolder;
    font-size: 24px;
    color: gold;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    text-align: center;
    background-image: url("../images/cardbackground.jpg");
    background-size: 100% 100%;
}

#qheader {
    font-weight: bolder;
    font-size: 28px;
}

#qheader2 {
    font-weight: bolder;
    font-size: 24px;
}

#answer {
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

#answer:hover {
    background-color: blue;
}

#gif {
    height: 250px;
    width: 480px;
    margin: 5% 20% 0% 20%;
}